.section-form {
  background-color: $color-dark;
  padding: $size-root*3;

  form {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;

    input {
      width: 100%;
      padding: $size-root*3 0;
      text-indent: 10px;
      font-family: $font-family-secondary;
      font-style:italic;
      font-size: 18px;
      font-weight: bold;
      box-sizing: border-box;
      border: none;
      background-color: lighten($color-dark, 30);

      &:focus {
        background-color: $color-white;
      }
    }
    input[type=submit] {
      font-style: normal;
      background-color: $color-blue;
      box-shadow: 0px 0px 8px darken($color-white, 20);
      color: $color-white;
    }

  }


}
