html {
  font-size: 10px;
  font-family: Oswald, sans-serif; }

body, h1, h2 {
  margin: 0;
  padding: 0; }

.grid {
  display: grid; }

header.grid {
  height: 100vh;
  background-image: url(/../img/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  align-content: center; }
  header.grid::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #666666;
    opacity: 0.7; }
  header.grid .header-container {
    text-align: center;
    color: white;
    z-index: 1;
    padding: 60px 20px; }
    header.grid .header-container h1 {
      font-size: 6rem;
      color: #fff;
      line-height: 1.5;
      text-transform: uppercase;
      margin: 20px; }

.button {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px 50px;
  letter-spacing: 1.5;
  border-radius: 5px;
  width: 130px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 10px;
  transition: all 0.7s ease; }
  .button-html {
    background-color: #f09b00;
    box-shadow: 0px 0px 8px #8a5900; }
    .button-html:hover {
      background-color: #e19100;
      box-shadow: 0px 0px 8px #ffb124; }
  .button-css {
    background-color: #4d4dad;
    box-shadow: 0px 0px 8px #2e2e66; }
    .button-css:hover {
      background-color: #4848a2;
      box-shadow: 0px 0px 8px #9292ce; }
  .button-js {
    background-color: #285828;
    box-shadow: 0px 0px 8px #081208; }
    .button-js:hover {
      background-color: #234d23;
      box-shadow: 0px 0px 8px #489e48; }

.section-about {
  background: #f7f7f7; }
  .section-about .container {
    grid-template-columns: 1fr 1fr; }

.about-left {
  font-size: 18px;
  border-right: 1px solid black;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  padding-left: 60px; }
  .about-left h2 {
    font-size: 2.7rem;
    padding-bottom: 30px; }

.about-right {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px; }
  .about-right .image {
    display: block;
    width: 100%;
    height: auto; }

.section-form {
  background-color: #333;
  padding: 30px; }
  .section-form form {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px; }
    .section-form form input {
      width: 100%;
      padding: 30px 0;
      text-indent: 10px;
      font-family: sans-serif;
      font-style: italic;
      font-size: 18px;
      font-weight: bold;
      box-sizing: border-box;
      border: none;
      background-color: gray; }
      .section-form form input:focus {
        background-color: #fff; }
    .section-form form input[type=submit] {
      font-style: normal;
      background-color: #4d4dad;
      box-shadow: 0px 0px 8px #cccccc;
      color: #fff; }

.container {
  width: 1200px;
  margin: auto;
  padding: 0 20px; }
